<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuimutong.learn.mybatis.dao.User2Mapper">
    <!--重用sql片段-->
    <sql id="selectParam">
        id, name, age
    </sql>
    <sql id="selectParamBase">
        id, ${otherColumn}
    </sql>
    <select id="getUser" parameterType="long" resultType="com.shuimutong.learn.mybatis.domain.User">
        SELECT id,name,age FROM t_user WHERE id =#{id}
    </select>
    <select id="getUser2" parameterType="long" resultType="com.shuimutong.learn.mybatis.domain.User">
        SELECT <include refid="selectParam" /> FROM t_user WHERE id =#{id}
    </select>
    <select id="getUser3" parameterType="long" resultType="com.shuimutong.learn.mybatis.domain.User">
        SELECT
        <include refid="selectParamBase">
            <property name="otherColumn" value="name"/>
        </include>
        FROM t_user WHERE id =#{id}
    </select>
</mapper>